.white-popup
{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.icheckbox_square-red
{
    margin-right: 15px !important;
}

.select2-container .select2-selection
{
    min-height: 32px !important;
}

.input-group
{
    .select2-container .select2-selection
    {
        height: 38px !important;
    }

    .select2-selection
    {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        padding: 3px !important;
    }
}
